<div class="layui-colla-item">
    <h2 class="layui-colla-title layui-bg-green">CS:GO 内网服的小提示</h2>
    <div class="layui-colla-content layui-show">
        
      <!-- <div class="font_color_white"><p class="">Welcome to combatserver</p><p class=" "><img class="" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1582709248743&di=07a8437ae3b0c057d66cbd547cec01c6&imgtype=0&src=http%3A%2F%2F4.pic.pc6.com%2Fthumb%2Fup%2F2017-9%2F2017915840341789986_600_0.png" class=""/ >
         <button type="button" class="layui-btn "><a href="steam://connect/combatserver.cn"  class="font_color_white">加入游戏-外网满十匹配服- 5 OB</a></button> 
         <button type="button" class="layui-btn "><a href="steam://connect/sise.combatserver.cn"  class="font_color_white">在内网？点击加入内网1V1练枪服!</a></button>
         <button type="button" class="layui-btn "><a href="steam://connect/sise.combatserver.cn:27016"  class="font_color_white">在内网？点击加入内网服满十比赛服一号服!</a></button>
         <button type="button" class="layui-btn "><a href="steam://connect/sise.combatserver.cn:27012"  class="font_color_white">在内网？点击加入内网服满十比赛服二号服!</a></button>
         <!-- <button type="button" class="layui-btn "><a href="steam://connect/sise.combatserver.cn:27021"  class="font_color_white">在内网？点击加入内网服满十比赛服三号服!</a></button> -->
         <!-- <button type="button" class="layui-btn "><a href="steam://connect/sise.combatserver.cn:27022"  class="font_color_white">在内网？点击加入内网服满十比赛服四号服!</a></button> -->
         <!-- <button type="button" class="layui-btn "><a href="steam://connect/sise.combatserver.cn:27017"  class="font_color_white">在内网？点击加入僵尸逃跑服!</a></button> -->
         <!-- <button type="button" class="layui-btn "><a href="steam://connect/sise.combatserver.cn:27018"  class="font_color_white">在内网？点击加入kz跳跃服!</a></button> -->
         


         <!-- <div class="font_color_white">以下内容仅适用于外网服：开始游戏前 
           请检查你是否游玩过本服务器 如果您是头一回进入服务器 
           除非你拥有非常多的空闲时间挂机从游戏中下载服务器资源 
           我们极力推荐您安装公告中的离线资源再进行游戏 
           内网服未出现报错的情况下无需下载离线资源
           内网服未出现报错的情况下无需下载离线资源 如果出现文件报错 请将该文件所在的文件夹（一般是custom_player)文件整个删除并重新打开游戏进入服务
          </div> </div></p> -->
          <div class="font_color_white">
           内网服未出现报错的情况下无需下载离线资源 如果出现文件报错 请将该文件所在的文件夹（一般是custom_player)文件整个删除并重新打开游戏进入服务
          </div> </div></p>
          
      
      <!-- <% if (csgo.error) { %>
      <div class="font_color_white">服务器消失了: <%=csgo.error %></div>
      <% } else { %>
      <div class="font_color_white"><%=csgo.raw.game%></div>
      <div class="font_color_white">服务器名称:&emsp;<%=csgo.name%></div>
      <div class="layui-badge font_color_white">目前地图:&emsp;<%=csgo.map%></div><br>
      <div class="layui-badge layui-bg-green font_color_white">在线人数:&emsp;<%=csgo.raw.numplayers%></div>
      <div class="layui-badge layui-bg-green font_color_white">最大人数:&emsp;<%=csgo.maxplayers%></div><br>
      <div class="layui-badge-rim font_color_white"> 服务器地址:<br><div class="font_color_white"><%=csgo.query.host%></div></div>
      <div class="layui-badge-rim font_color_white">服务器地址ip:<br><div class="font_color_white"><%=csgo.query.address%></div></div>
      <div class="font_color_white">
          <span class="layui-badge-dot layui-bg-green font_color_white"></span>在线玩家<br>
          <% csgo.players.forEach(function(v){ %>
              <%= v.name %><br>
          <% }); %>
      </div>
      <% } %>

    </div>             
  </div> -->
